section#section-contact.section
  .section__contact.parallax
    .row
      .col-xs-12
        a.title-link(href="#section-contact") ## #{data.contact.text}
          i(class='fas fa-link')

    .row.section__contact--row
      .col-xs-11.col-sm-10
        ul.list-unstyled
          li Puedes encontrarme por:
          each val, index in data.contact.data
            li
              a(href=val.url title=val.title target='blank') #{val.text}
              | #{" "}
              i(class=val.icon)

    .col-xs-12.text-center
      button.btn--arrow.go-to(data-href="section-skills"): i(class='fas fa-arrow-down')
