section#section-education.section
  .section__education
    .section__education--bg1
    .section__education--bg2
    .row.section__education--row
      .col-xs-12
        a.title-link(href="#section-education") ## #{data.education.text}
          i(class='fas fa-link')

      each education, index in data.education.data
        .col-xs-12.col-sm-5.section__education__item
          .card
            .card__title #{education.title}
            .card__content
              ul.list-ok
                li Centro: !{education.school}
                li.hide-xs Dónde: !{education.location}
                li.hide-xs Cuándo: Del !{education.from} al !{education.to}
                if education.extra
                  each extra in education.extra
                    li.hide-xs !{extra.key} !{extra.value}

    .col-xs-12.text-center
      button.btn--arrow.go-to(data-href="section-hobbies"): i(class='fas fa-arrow-down')
