section#section-footer.section
  .section__footer.parallax
    .row.section__footer--row
      .col-xs-12.col-sm-6.col-offset-sm-3.text-center
        i(class=data.footer.icon)
        div.bold !{data.footer.first_words}
        div Ahora:
        each val in data.footer.youcans
          div !{val}

    .section__footer__c
      i.fas.fa-code
      | #{" "} with #{" "}
      i.far.fa-heart
      | #{" "} by #{" "}
      a(href=data.footer.by.link target="blank") #{data.footer.by.name}
